AwesomeDetectiveAgency/.vscode/*
AwesomeDetectiveAgency/log.txt
/.vscode
AwesomeDetectiveAgency/log.txt
AwesomeDetectiveAgency/errors.txt
AwesomeDetectiveAgency/errors.txt
AwesomeDetectiveAgency/traceback.txt

AwesomeDetectiveAgency/game/saves/navigation.json
